body {
  padding-top: 0px; /* 50px falls man ne fixed navbar haben will */
}
.starter-template {
  padding: 5px 15px;
  text-align: center;
}
.starter-template ul{
	text-align: left;
}

/* CSS für multi-level navbar */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
	/* Block-Elemente erzeugen eine neue Zeile im Textfluß und 
	können zum vorherigen und zum nachfolgenden Element einen größeren Abstand aufweisen. 
	Sie sind im Textfluß somit immer untereinander angeordnet. */
    display: block;
	/* content generiert zusammen mit ::before und ::after einfache Zeichenketten vor oder nach dem Element */
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

/* You can float an element to the left or right 
with class pull-left or pull-right respectively. */

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* custom bootstrap variations */
.navbar{
	margin-bottom: 12px;
}
.navbar-default .navbar-nav > .active > a{
	background-color: rgba(3, 73, 153, 0.85); /* #034999 */
	color: white;
}
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	/*background-color: rgba(3, 73, 153, 0.85);*/
	background-color: rgba(3, 73, 153, 0.7); /* #034999 */
	color: white;
}
h1{
	margin-bottom: 30px;
}
.img-thumbnail-small{
	width: 140px; 
	height: 140px;
}
.img-thumbnail-big{
	height: 340px;
}
a .img-thumbnail:hover{
	border: 1px solid #0066CC;
}

.navbar-nav > .calendar {
    padding-top: 8px;
	margin-left: 6px;
    /* padding-bottom: 15px; */
}

/* Monatstabelle CSS */
.styleTabelle{
	width: 100%;
}
.styleKopf{
	text-align: center;
}
.styleKopf-subheading{
	text-align: center;
	font-weight: normal;
}
tbody .styleZelle{
	cursor: pointer;
}
tbody .styleZelle:hover{
	background: none repeat scroll 0 0 rgba(3, 73, 153, 0.7);
	color: white;
}
/* Selektierter Tag im Kalender */
.selectedDay{
	/*background-color: rgba(191, 221, 255, 0.96);*/
	/*background-color: #2B72FF;*/
	background-color: rgba(3, 73, 153, 0.85);	/*#034999*/
	color: white;
}
#kalender{
	width: 480px;
	margin-left: auto;
	margin-right: auto;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	padding: 6px; 
}
#dp1{
	/*text-align: right;*/
	padding-left: 6px;
}
#dp-description{
	color: #989898;
	font-size: 10px;
	cursor: auto;
}
.form-inline .form-control {
	display: inline-block;
	width: 130px;
}
.kategorie-tag{
	color: #F35735;
}
.center-image{
	display: inline;
	height: 500px;
}
.veranstaltung{
	margin-bottom: 20px;
	/* border-bottom: 0.05em solid grey; */
}
#kalender-prev, #kalender-next{
	text-align: center;
	cursor: pointer;
}
#kalender-prev:hover, #kalender-next:hover{
	background: none repeat scroll 0 0 #eeeeee;
}
.styleguide-template{
  padding: 5px 15px;
  text-align: left;
}
.bold{	
	font-weight: bold;
}
/* die naechsten Regeln sind fuer den Tooltip */
td.tooltips {
  /*position: relative;*/	/* nach entkommentieren der Zeile -> Anzeige nicht mehr unten */
  /*display: inline;*/
}
/* Tooltip */
td.tooltips span {
  font-weight: normal;
  position: absolute;
  /*right: -100px;*/
  width:250px;
  padding: 8px;
  color: #FFFFFF;
  background-color: #999; /* rgba(3, 73, 153, 1) */
  text-align: center;
  visibility: hidden;
  border-radius: 8px;
  
  /* comment out falls alte Anz.d.Veranst. nicht noch aus-faden soll */
  /*-webkit-transition: 0.5s;
  transition: 0.5s;*/
  
}
/* Pfeil */
/*td.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid rgba(3, 73, 153, 1);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}*/
td:hover.tooltips span {
  visibility: visible;
  text-align: center;
  opacity: 0.86;
  /*right: 50%;*/
  bottom: 20px;
  right: 50%;
  margin-right: -125px;
  /*left: 50%;*/
  z-index: 999;
  float: left;
 /*Fade In..Yeah Fancy Stuff */
  
  /* Option 1*/
  /*-webkit-transition: 1s;
  -webkit-transition-delay: 1s;
  transition: 1s;
  transition-delay: 1s;
  */
 
 /* Option 2 */
  	/* 1. Safari, Chrome and Opera > 12.1 */
 	/* 2. Firefox < 16 */
	/* 3. Internet Explorer */
	/* 4. Opera < 12.1 */
 -webkit-animation: fadein 2s; 
   -moz-animation: fadein 2s; 
    -ms-animation: fadein 2s; 
     -o-animation: fadein 2s; 
        animation: fadein 2s;
}

/* FadeIn/Animation Compatibility */
@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.86; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.86; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.86; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.86; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.86; }
}

.glyphicon-ok{
	color: green;
}
